<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.learn2develop.AndroidViews"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".DataSample" 
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        

        <activity android:name=".DataSave"
                  android:label="@string/app_name" />

        <activity android:name=".DataCheck"
                  android:label="@string/app_name" />

        <activity android:name=".DataManipulator"
                  android:label="@string/app_name" />
 

        <activity android:name=".BasicViewsExample"
                  android:label="@string/app_name" />
 
         <activity android:name=".AutoCompleteExample"
                  android:label="@string/app_name" />

         <activity android:name=".DepoziteAutoComplete"
                  android:label="@string/app_name" />

         <activity android:name=".ListViewExample"
                  android:label="@string/app_name" />

         <activity android:name=".LateOrdersByZone"
                  android:label="@string/app_name" />
                  
          <activity android:name=".GetPersons03"
                  android:label="@string/app_name" />        

          <activity android:name=".SavePerson02"
                  android:label="@string/app_name" />        

          <activity android:name=".Caltroid"
                  android:label="@string/app_name" />        

        <activity android:name=".ContactDetails"
        	android:label="@string/contact_intent"
        	android:theme="@android:style/Theme.Dialog">
        </activity>

          <activity android:name=".DbContactConsole"
                  android:label="@string/app_name" />        


    </application>
    
<uses-permission android:name="android.permission.INTERNET"></uses-permission>    
</manifest>